<div
    class="w-full flex flex-col px-5 pb-2 pt-3 my-1.5 rounded-lg items-center border-4 {{gameResults[gameResult]}} {{isPlaysingHand? 'border-hover':''}}">

    @if(hand!= null){
        <app-cards-displayer class="mb-2" [cards]="hand.getCardImages()" [hideCard]="hideCard"/>
        <div class="flex flex-row justify-between w-full">
            <div *ngIf="displayScore" class="flex flex-row justify-start">
                <app-score-displayer class="me-2" *ngFor="let score of hand.getPoints()" [score]="score.toString()" />
            </div>
            <app-token-displayer *ngIf="bet!==undefined" [number]="bet"/>
        </div>
    }

</div>