<div class="w-64 sm:w-96 flex flex-col items-center mb-5">

    <!-- dealer -->
    <p class="text-lg">Dealer must stand on 17</p>
    <app-hand-displayer [gameResult]="gamesResult[4]" [hideCard]="hideDealerCard" [hand]="bank.getHands()[0]"
        [displayScore]="!started && bank.getHands()[0].numberOfCard()>0" class="mb-10 w-full" />

    <!-- gambler -->
    <app-hand-displayer *ngFor="let hand of gambler.getHands(), let i=index" [gameResult]="gamesResult[i]"
        [isPlaysingHand]="i=== playingHand" [hand]="hand" [bet]="bets[i]" [displayScore]="true"
        class="w-full" />

    <app-token-displayer class="my-4 sm:my-10" [number]="gambler.getTokens()" />

    @if (!started) {
    <div class="flex flex-col items-center border border-slate-400 p-5 rounded-lg">
        <div class="flex fex-row space-evenly items-center">
            <p>Mise (min 5, max 500) : </p>
            <input 
            class="text-right text-lg ms-2 pr-1 py-1 bg-transparent border rounded-r-md transition duration-300 ease focus:outline-none shadow-sm focus:shadow"
            type="number" [(ngModel)]="mainBet" min="5" max="500" [disabled]="started" />
        </div>
        <button (click)="start()"
            class="w-36 mt-3 py-2 px-4 rounded-md bg-secondary text-center text-sm text-light font-semibold focus:shadow-none hover:shadow-md hover:opacity-85">
            Miser
        </button>
    </div>

    }

    <div class="w-full flex flex-row-reverse space-between">
        <app-icon-button *ngIf="started" (click)="gamblerHit(playingHand, gambler)" color="bg-hover"
            src="assets/images/games/card-heart.svg" class="flex basis-1/4 justify-center" />
        <app-icon-button *ngIf="started" (click)="gamblerPass()" color="bg-indigo-400" src="assets/images/games/hand.svg"
            class="flex basis-1/4 justify-center" />
        <app-icon-button *ngIf="started&&canDouble(playingHand)" (click)="double(playingHand)" color="bg-alert"
            src='assets/images/games/multiply-2.svg' class="flex basis-1/4 justify-center" />
        <app-icon-button *ngIf="started&&canSplit(playingHand)" (click)="split(playingHand)" color="bg-primary"
            src="assets/images/games/split-cells.svg" class="flex basis-1/4 justify-center" />
    </div>
</div>