<div class="flex flex-col max-w-4xl justify-center items-center">
    <div class="flex flex-col max-w-xl mb-5">
        <p class="text-right">Points de la banque : {{bank.getPoints()}}</p>
        <app-card-displayer [cards]="bank.getCardImages()" />
        <app-card-displayer [cards]="gambler.getCardImages()" />
        <p>Vos points : {{gambler.getPoints()}}</p>
        <p>jetons : {{gambler.getTokens()}}</p>
        <div class="flex fex-row space-evenly">
            <p>Votre mise (min 5, max 500) : </p>
            <input class="text-right" type="number" [(ngModel)]="bet" min="5" max="500" [disabled]="started" />
        </div>
    </div>

    <div class="flex flex-col items-center">
        <app-button *ngIf="!started" (click)="start()" color="bg-secondary" name="Commencer" width="w-48" />
        <div class="flex flex-row justify-center">
            <app-button *ngIf="started" (click)="gamblerDraw(gambler)" color="bg-hover" name="Tirer" width="w-48" />
            <app-button *ngIf="started" (click)="gamblerStop()" color="bg-dark" name="Stop" width="w-48" />
        </div>
        <div class="flex flex-row justify-center">
            <!-- <app-button *ngIf="started" (click)="double()" color="bg-alert" name="Doubler" width="w-48"/> -->
            <!-- <app-button *ngIf="started" (click)="split()" color="bg-primary" name="Séparer" width="w-48"/> -->
        </div>
    </div>
</div>