<nav
    class="bg-dark block w-full px-4 py-2 mx-auto sticky top-0 lg:px-8 lg:py-3 backdrop-blur-lg shadow-xl backdrop-saturate-150 z-[9999]">
    <div class="container flex flex-wrap items-center justify-between mx-auto text-dark">
        <a [routerLink]="['/']" class="mr-4 block cursor-pointer text-base text-dark font-semibold">
            <header class="brand-name">
                <img class="brand-logo object-scale-down" width="32" src="assets/images/du-coca-64.png" alt="logo"
                    aria-hidden="true">
            </header>
        </a>
        <ul class="flex flex-row items-center lg:gap-6">
            <li *ngFor="let data of navigationData">
                <a [routerLink]="data.path"
                    class="flex p-2 items-center md:text-md text-sm gap-x-2 text-light rounded-xl hover:text-dark hover:bg-light hover:ring hover:ring-light">
                    {{data.name}}
                </a>
            </li>
        </ul>
    </div>
</nav>