<footer class="w-full text-light bg-dark px-8 pt-8 flex flex-col items-center">
    <div class="w-full max-w-[1750px] flex flex-col sm:flex-row mb-10 justify-center gap-y-6 gap-x-12 justify-between">

        <div class="flex flex-col gap-y-2 gap-x-8 basis-1/3">
            <div class="flex flex-row">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="min-w-7 size-10 border rounded-full">
                    <path
                        d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z" />
                </svg>
                <h6 class="flex text-lg ms-5 items-center">Charles Depaz</h6>
            </div>
            <p class="text-sm">
                Ravi de travailler sur ce site afin de pouvoir perfectionner mes connaissances et d'explorer de nouveaux horizons.
            </p>
            <a href="https://react-web-app-rosy.vercel.app/" target="_blank" class="max-w-fit text-primary hover:opacity-75 hover:drop-shadow-lg focus:opacity-50">
                Version React du site
            </a>
        </div>

        <div class="flex flex-col gap-y-2 gap-x-8 basis-1/4">
            <h6 class="text-lg ms-7">Contact</h6>
            <div class="flex flex-row">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="min-w-5 size-5 me-2">
                    <path fill-rule="evenodd"
                        d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z"
                        clip-rule="evenodd" />
                </svg>
                <p class="text-sm">Waremme city, Pas très loin du Macdo, Belgique</p>
            </div>
            <div class="flex flex-row">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="min-w-5 size-5 me-2">
                    <path
                        d="M3 4a2 2 0 0 0-2 2v1.161l8.441 4.221a1.25 1.25 0 0 0 1.118 0L19 7.162V6a2 2 0 0 0-2-2H3Z" />
                    <path
                        d="m19 8.839-7.77 3.885a2.75 2.75 0 0 1-2.46 0L1 8.839V14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.839Z" />
                </svg>
                <a href="mailto:Charlese.depaz&#64;gmail.com" class="text-sm hover:opacity-75 hover:drop-shadow-xl focus:opacity-50">
                    M'envoyer un email
                </a>
            </div>
        </div>
    </div>

    <div
        class="flex justify-center w-full py-4 border-t border-slate-200">
        <p class="block mb-4 text-sm md:mb-1">
            Copyright © 2024. All Rights Reserved.
        </p>
    </div>
</footer>