<div class="max-w-sm md:max-w-4xl flex flex-col md:flex-row w-full bg-white ring-1 ring-secondary rounded-lg transition hover:shadow-xl hover:scale-105">
    <div class="flex items-center justify-center max-h-full p-2.5 overflow-hidden">
      <img
        [src]="img"
        [alt]="img"
        class="rounded-lg object-cover max-h-52"
      />
    </div>
    <div class="p-6 md:w-4/5">
      <h4 class="mb-2 text-dark text-xl font-semibold">
        {{name}}
      </h4>
      <p class="mb-8 text-dark leading-normal font-light text-justify">
        {{description}}
      </p>
      @if(href){
        <div class="flex w-full justify-center md:justify-start">
          <app-link-button [href]="href" name="Visiter"/>
        </div>
      }
    </div>
  </div> 