<app-page-title title="Mes projets"/>
<div class="w-full flex justify-center">
    <div class="flex flex-col items-center sm:flex-row sm:justify-around w-full max-w-screen-lg">
        <app-link-button class="mt-6" href="assets/files/notes_angular.txt" name="Notes sur Angular"/>
        <app-link-button class="mt-6" href="assets/files/notes_dotnet.txt" name="Notes sur Dotnet"/>
        <app-link-button class="mt-6" href="assets/files/notes-raspberry.txt" name="Notes sur raspberry"/>
    </div>
</div>
