<app-page-title [title]="title" />
<div class="w-full flex justify-center">
    <div class="flex flex-col min-w-sm ring ring-secondary bg-white rounded-lg p-10 mb-10">
        <div class="w-full max-w-sm min-w-[200px] pb-5">
            <label class="block mb-2 text-sm">
                Login
            </label>
            <input type="text"
                class="w-full bg-transparent placeholder:text-slate-500 text-slate-700 text-sm border border-slate-400 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                [(value)]="login" (input)="loginChange($event)" placeholder="Login" />
        </div>
        <div class="w-full max-w-sm min-w-[200px] pb-5">
            <label class="block mb-2 text-sm">
                Mot de passe
            </label>
            <input type="text"
                class="w-full bg-transparent placeholder:text-slate-500 text-slate-700 text-sm border border-slate-400 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                [(value)]="password" (input)="passChange($event)" type="password" placeholder="Mot de passe" />
        </div>
        @if(errorMessage){
        <p
            class="bg-red-600 text-left ring ring-red-700 rounded-md max-w-sm text-light text-xs font-semibold px-2 py-2 drop-shadow-md">
            {{errorMessage}}</p>
        }
        <button class="rounded-full bg-secondary text-light mt-5 mb-2 py-2 hover:opacity-85 active:bg-dark"
            (click)="connection()" [disabled]="isLoading">
            @if(!isLoading){
            Connexion
            }
            @if(isLoading){
            <div class="grid place-items-center rounded-lg lg:overflow-visible">
                <svg class="animate-spin h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-40" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>
            </div>
            }
        </button>
        <p class="max-w-[200px] text-xs mt-2">
            La connexion peut prendre jusqu'à 20 secondes si le système REST est en veille
        </p>
    </div>
</div>